name: Update Docker Hub and Quay.io Description + github release

on:
   push:
     tags:
       - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@master

      - name: Github Release
        if:  startsWith(github.ref, 'refs/tags/v')
        uses: ncipollo/release-action@v1
        with:
          body: ${{ format('See https://github.com/jbangdev/jbang/releases/tag/v{0}', env.IMAGE_TAG) }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker Hub Description
        if: success()
        continue-on-error: true
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: jbangdev/jbang-action

      - name: Login to Quay.io
        uses: actions-hub/docker/login@master
        env:
          DOCKER_USERNAME: ${{ secrets.QUAY_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.QUAY_PASSWORD }}
          DOCKER_REGISTRY_URL: quay.io

      - name: Update quay.io Description
        if: success()
        continue-on-error: true
        uses: jbangdev/jbang-action@v0.49.0
        with:
          script: .github/workflows/updatequay.java
          args: "--token $TOKEN"
        env:
          TOKEN: ${{ secrets.QUAY_TOKEN }}

      

      - uses: actions/cache@v4
        with:
          path: /root/.jbang
          key: ${{ runner.os }}-jbang-${{ hashFiles('**/*.java') }}
          restore-keys: |
            ${{ runner.os }}-jbang-
